In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#IMPORTING DATA

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Grammar-Error-Detection/train.txt', error_bad_lines=False , delimiter= ".\t")

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#df['Error_detection']=df['In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .'] + df['In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon .']

In [ ]:

df.reset_index()

,index,"In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon","In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon ."
0,0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip..."
1,1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r..."
2,2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di..."
3,3,I graduated Chung university,I graduated from Chung university .
4,4,I like listening music and travelling on the ...,I like listening to music and travelling on th...
...,...,...,...
153176,153176,This is my family on the picture,This is my family in the picture .
153177,153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.
153178,153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp..."
153179,153179,Look at my photos of my last holidays,Look at my photos from my last holidays .
153180,153180,I believe that people with passion can change ...,I believe that people with passion can change ...

In [ ]:
df.iloc[2]

In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon      So , I want to say that I admire your right di...
In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .    So , I want to say that I admire your right di...
Name: 2, dtype: object

In [ ]:
df=df.rename(columns={'In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon ': "Incorrect" , 'In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .':"Correct"})

In [ ]:
df

,Incorrect,Correct
0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip..."
1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r..."
2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di..."
3,I graduated Chung university,I graduated from Chung university .
4,I like listening music and travelling on the ...,I like listening to music and travelling on th...
...,...,...
153176,This is my family on the picture,This is my family in the picture .
153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.
153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp..."
153179,Look at my photos of my last holidays,Look at my photos from my last holidays .
153180,I believe that people with passion can change ...,I believe that people with passion can change ...

In [ ]:
df['Target']=0

In [ ]:
#df=df.drop(columns=['In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon .',  'In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .'])

In [ ]:
df

,Incorrect,Correct,Target
0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip...",0
1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r...",0
2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di...",0
3,I graduated Chung university,I graduated from Chung university .,0
4,I like listening music and travelling on the ...,I like listening to music and travelling on th...,0
...,...,...,...
153176,This is my family on the picture,This is my family in the picture .,0
153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.,0
153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp...",0
153179,Look at my photos of my last holidays,Look at my photos from my last holidays .,0
153180,I believe that people with passion can change ...,I believe that people with passion can change ...,0

In [ ]:
#df['new']=df['Incorrect']

In [ ]:
df

,Incorrect,Correct,Target
0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip...",0
1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r...",0
2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di...",0
3,I graduated Chung university,I graduated from Chung university .,0
4,I like listening music and travelling on the ...,I like listening to music and travelling on th...,0
...,...,...,...
153176,This is my family on the picture,This is my family in the picture .,0
153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.,0
153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp...",0
153179,Look at my photos of my last holidays,Look at my photos from my last holidays .,0
153180,I believe that people with passion can change ...,I believe that people with passion can change ...,0

In [ ]:
df1=pd.DataFrame({
    "Correct":[],
    "Target":[]
})

In [ ]:
df1['Correct']=df['Correct']

In [ ]:
df.drop(columns=['Correct'],inplace=True)

In [ ]:
df.rename(columns={'Incorrect':'text'},inplace=True)

In [ ]:
df1

                                                  Correct  Target
0       There I began to study Family Therapy , discip...     NaN
1       It seems to me , that in this song there are r...     NaN
2       So , I want to say that I admire your right di...     NaN
3                    I  graduated from Chung university .     NaN
4       I like listening to music and travelling on th...     NaN
...                                                   ...     ...
153176                 This is my family in the picture .     NaN
153177     I have  lunch at noon and  get  home at 2 p.m.     NaN
153178  Dear Mary , I listened to the song that you sp...     NaN
153179          Look at my photos from my last holidays .     NaN
153180  I believe that people with passion can change ...     NaN

[153181 rows x 2 columns]

In [ ]:
df1['Target']=1

In [ ]:
df1.rename(columns={'Correct':'text'},inplace=True)

In [ ]:
result = pd.concat([df, df1], axis=0)

In [ ]:
#result=result.reset_index()
#result.drop(columns=['index'])
result.reset_index(drop=True)

                                                     text  Target
0       There I began to study Family Therapy , discip...       0
1       It seems  me , that in this song there are rom...       0
2       So , I want to say that I admire your right di...       0
3                         I  graduated  Chung university        0
4       I like listening  music and travelling on the ...       0
...                                                   ...     ...
306357                 This is my family in the picture .       1
306358     I have  lunch at noon and  get  home at 2 p.m.       1
306359  Dear Mary , I listened to the song that you sp...       1
306360          Look at my photos from my last holidays .       1
306361  I believe that people with passion can change ...       1

[306362 rows x 2 columns]

In [ ]:
#

In [ ]:
result

                                                     text  Target
0       There I began to study Family Therapy , discip...       0
1       It seems  me , that in this song there are rom...       0
2       So , I want to say that I admire your right di...       0
3                         I  graduated  Chung university        0
4       I like listening  music and travelling on the ...       0
...                                                   ...     ...
153176                 This is my family in the picture .       1
153177     I have  lunch at noon and  get  home at 2 p.m.       1
153178  Dear Mary , I listened to the song that you sp...       1
153179          Look at my photos from my last holidays .       1
153180  I believe that people with passion can change ...       1

[306362 rows x 2 columns]

In [ ]:
result.dropna(inplace=True)

In [ ]:
result['text']=[i.lower() for i in result.text]

In [ ]:
result

                                                     text  Target
0       there i began to study family therapy , discip...       0
1       it seems  me , that in this song there are rom...       0
2       so , i want to say that i admire your right di...       0
3                         i  graduated  chung university        0
4       i like listening  music and travelling on the ...       0
...                                                   ...     ...
153176                 this is my family in the picture .       1
153177     i have  lunch at noon and  get  home at 2 p.m.       1
153178  dear mary , i listened to the song that you sp...       1
153179          look at my photos from my last holidays .       1
153180  i believe that people with passion can change ...       1

[306361 rows x 2 columns]

In [ ]:
#result=result[result.index<40000]

In [ ]:
result

                                                     text  Target
0       there i began to study family therapy , discip...       0
1       it seems  me , that in this song there are rom...       0
2       so , i want to say that i admire your right di...       0
3                         i  graduated  chung university        0
4       i like listening  music and travelling on the ...       0
...                                                   ...     ...
153176                 this is my family in the picture .       1
153177     i have  lunch at noon and  get  home at 2 p.m.       1
153178  dear mary , i listened to the song that you sp...       1
153179          look at my photos from my last holidays .       1
153180  i believe that people with passion can change ...       1

[306361 rows x 2 columns]

In [ ]:
result.iloc[4]

text      i like listening  music and travelling on the ...
Target                                                    0
Name: 4, dtype: object

In [ ]:
result.iloc[10004]

text      it is the biggest city of amazon
Target                                    0
Name: 10004, dtype: object

In [ ]:
result.reset_index(inplace=True)

In [ ]:
result

         index                                               text  Target
0            0  there i began to study family therapy , discip...       0
1            1  it seems  me , that in this song there are rom...       0
2            2  so , i want to say that i admire your right di...       0
3            3                    i  graduated  chung university        0
4            4  i like listening  music and travelling on the ...       0
...        ...                                                ...     ...
306356  153176                 this is my family in the picture .       1
306357  153177     i have  lunch at noon and  get  home at 2 p.m.       1
306358  153178  dear mary , i listened to the song that you sp...       1
306359  153179          look at my photos from my last holidays .       1
306360  153180  i believe that people with passion can change ...       1

[306361 rows x 3 columns]

In [ ]:
import string
for x in range(len(result.text[153181:])):
  result.text[x] = result.text[x].translate(str.maketrans('', '', string.punctuation))
print(result.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyboardInterrupt: ignored

54711

In [ ]:
len(vocab)

39504

In [ ]:
for i in result.text[:1]:
  print(i.split())

['there', 'i', 'began', 'to', 'study', 'family', 'therapy', ',', 'discipline', 'that', 'i', 'enjoy', 'too', 'much', ',', 'because', 'i', "'ve", 'seen', 'i', 'can', 'help', 'people', 'about', 'their', 'troubles', '.']

In [ ]:
import nltk
bigram=pd.Series(nltk.ngrams([i.split() for i in result.text[153181:]], 2)))

In [ ]:
bigram=[]
for sentence in result.text[153181:]:
  bigram.extend(list(nltk.ngrams(sentence.split(),2)))

In [ ]:
trigram=[]
for i in result.text[153181:]:
  trigram.extend(list(nltk.ngrams(i.split(),3)))

#freq_tri = FreqDist(trigram)

In [ ]:
#bigram

In [ ]:
freq_bi = FreqDist(bigram)
freq_tri = FreqDist(trigram)

In [ ]:
freq_tri

FreqDist({('a', 'lot', 'of'): 5408, ('i', 'like', 'to'): 3109, (',', 'but', 'i'): 3037, ('go', 'to', 'the'): 2988, ('i', 'want', 'to'): 2583, ('i', 'do', "n't"): 2446, ('to', 'go', 'to'): 2251, (',', 'i', "'m"): 2161, (',', 'and', 'i'): 1943, ('there', 'is', 'a'): 1917, ...})

In [ ]:
freq_tri.values().index(5408)

AttributeError: ignored

In [ ]:
#d = defaultdict(["a", "lot"])
d=freq_bi

for a,b,c in freq_tri:
  d[a,b]+=freq_tri['a','lot','is']
  print(d[a,b])
  break

6484

In [ ]:
#freq_tri.values()

In [ ]:
from collections import defaultdict
from collections import Counter
import random
d = freq_bi
def noob(x,y):
  count=0
  print(x)
  print(y)
  flag=0
  for a, b, c in freq_tri:
    if a==x and b==y:
      print([a,b,c],end="--->")
      print(freq_tri[a,b,c])
      flag=1
      count+=1
      if count==10:
        break
      return [a,b,c]
  return -1

In [ ]:
a='i read it that'
a=a.split()
for x in range(len(a)-1):
  #print(noob(a[x],a[x+1]))
  if noob(a[x],a[x+1])==-1:
    print("GRAMMAR ERORR")
    break

i
read
['i', 'read', 'a']--->44
read
it
['read', 'it', '.']--->6
it
that
['it', 'that', 'all']--->1

In [ ]:
trigram=(pd.Series(nltk.ngrams(vocab, 3)).value_counts())
trigram

In [ ]:
result.iloc[4]

index                                                     4
text      i like listening  music and travelling on the ...
Target                                                    0
Name: 4, dtype: object

In [ ]:
result.iloc[153185]

index                                                     4
text      i like listening to music and travelling on th...
Target                                                    1
Name: 153185, dtype: object

(there, i)                   False
(866, 8765)                  False
(08.00, jirau)               False
(jirau, ema)                 False
(ema, sponsorships)          False
                             ...
(craftsmanship, sweating)    False
(sweating, profusely)        False
(profusely, pumped)          False
(pumped, sabia)              False
(palumbo, mayumi)            False
Length: 39503, dtype: bool

In [ ]:
from nltk import FreqDist

freq_bi = FreqDist(bigram)
freq_tri = FreqDist(trigram)

In [ ]:
freq_bi

AttributeError: ignored

In [ ]:
freq_tri

FreqDist({1: 38175})