In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#IMPORTING DATA

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Grammar-Error-Detection/train.txt', error_bad_lines=False , delimiter= ".\t")

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#df['Error_detection']=df['In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .'] + df['In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon .']

In [5]:

df.reset_index()

,index,"In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon","In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon ."
0,0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip..."
1,1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r..."
2,2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di..."
3,3,I graduated Chung university,I graduated from Chung university .
4,4,I like listening music and travelling on the ...,I like listening to music and travelling on th...
...,...,...,...
153176,153176,This is my family on the picture,This is my family in the picture .
153177,153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.
153178,153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp..."
153179,153179,Look at my photos of my last holidays,Look at my photos from my last holidays .
153180,153180,I believe that people with passion can change ...,I believe that people with passion can change ...

In [6]:
df.iloc[2]

In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon      So , I want to say that I admire your right di...
In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .    So , I want to say that I admire your right di...
Name: 2, dtype: object

In [7]:
df=df.rename(columns={'In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon ': "Incorrect" , 'In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .':"Correct"})

In [8]:
df

,Incorrect,Correct
0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip..."
1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r..."
2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di..."
3,I graduated Chung university,I graduated from Chung university .
4,I like listening music and travelling on the ...,I like listening to music and travelling on th...
...,...,...
153176,This is my family on the picture,This is my family in the picture .
153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.
153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp..."
153179,Look at my photos of my last holidays,Look at my photos from my last holidays .
153180,I believe that people with passion can change ...,I believe that people with passion can change ...

In [9]:
df['Target']=0

In [10]:
#df=df.drop(columns=['In my opinion the TV channels should show the violent movies and TV shows in night , not in the afternoon .',  'In my opinion the TV channels should show the violent movies and TV shows at night , not in the afternoon .'])

In [11]:
df

,Incorrect,Correct,Target
0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip...",0
1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r...",0
2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di...",0
3,I graduated Chung university,I graduated from Chung university .,0
4,I like listening music and travelling on the ...,I like listening to music and travelling on th...,0
...,...,...,...
153176,This is my family on the picture,This is my family in the picture .,0
153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.,0
153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp...",0
153179,Look at my photos of my last holidays,Look at my photos from my last holidays .,0
153180,I believe that people with passion can change ...,I believe that people with passion can change ...,0

In [12]:
#df['new']=df['Incorrect']

In [13]:
df

,Incorrect,Correct,Target
0,"There I began to study Family Therapy , discip...","There I began to study Family Therapy , discip...",0
1,"It seems me , that in this song there are rom...","It seems to me , that in this song there are r...",0
2,"So , I want to say that I admire your right di...","So , I want to say that I admire your right di...",0
3,I graduated Chung university,I graduated from Chung university .,0
4,I like listening music and travelling on the ...,I like listening to music and travelling on th...,0
...,...,...,...
153176,This is my family on the picture,This is my family in the picture .,0
153177,I have lunch at noon and get home 2 p.m,I have lunch at noon and get home at 2 p.m.,0
153178,"Dear Mary , I listened the song that you spok...","Dear Mary , I listened to the song that you sp...",0
153179,Look at my photos of my last holidays,Look at my photos from my last holidays .,0
153180,I believe that people with passion can change ...,I believe that people with passion can change ...,0

In [14]:
df1=pd.DataFrame({
    "Correct":[],
    "Target":[]
})

In [15]:
df1['Correct']=df['Correct']

In [16]:
df.drop(columns=['Correct'],inplace=True)

In [17]:
df.rename(columns={'Incorrect':'text'},inplace=True)

In [18]:
df1

                                                  Correct  Target
0       There I began to study Family Therapy , discip...     NaN
1       It seems to me , that in this song there are r...     NaN
2       So , I want to say that I admire your right di...     NaN
3                    I  graduated from Chung university .     NaN
4       I like listening to music and travelling on th...     NaN
...                                                   ...     ...
153176                 This is my family in the picture .     NaN
153177     I have  lunch at noon and  get  home at 2 p.m.     NaN
153178  Dear Mary , I listened to the song that you sp...     NaN
153179          Look at my photos from my last holidays .     NaN
153180  I believe that people with passion can change ...     NaN

[153181 rows x 2 columns]

In [19]:
df1['Target']=1

In [20]:
df1.rename(columns={'Correct':'text'},inplace=True)

In [21]:
result = pd.concat([df, df1], axis=0)

In [22]:
#result=result.reset_index()
#result.drop(columns=['index'])
result.reset_index(drop=True)

                                                     text  Target
0       There I began to study Family Therapy , discip...       0
1       It seems  me , that in this song there are rom...       0
2       So , I want to say that I admire your right di...       0
3                         I  graduated  Chung university        0
4       I like listening  music and travelling on the ...       0
...                                                   ...     ...
306357                 This is my family in the picture .       1
306358     I have  lunch at noon and  get  home at 2 p.m.       1
306359  Dear Mary , I listened to the song that you sp...       1
306360          Look at my photos from my last holidays .       1
306361  I believe that people with passion can change ...       1

[306362 rows x 2 columns]

In [23]:
#

In [24]:
result

                                                     text  Target
0       There I began to study Family Therapy , discip...       0
1       It seems  me , that in this song there are rom...       0
2       So , I want to say that I admire your right di...       0
3                         I  graduated  Chung university        0
4       I like listening  music and travelling on the ...       0
...                                                   ...     ...
153176                 This is my family in the picture .       1
153177     I have  lunch at noon and  get  home at 2 p.m.       1
153178  Dear Mary , I listened to the song that you sp...       1
153179          Look at my photos from my last holidays .       1
153180  I believe that people with passion can change ...       1

[306362 rows x 2 columns]

In [25]:
result.dropna(inplace=True)

In [26]:
result['text']=[i.lower() for i in result.text]

In [27]:
result

                                                     text  Target
0       there i began to study family therapy , discip...       0
1       it seems  me , that in this song there are rom...       0
2       so , i want to say that i admire your right di...       0
3                         i  graduated  chung university        0
4       i like listening  music and travelling on the ...       0
...                                                   ...     ...
153176                 this is my family in the picture .       1
153177     i have  lunch at noon and  get  home at 2 p.m.       1
153178  dear mary , i listened to the song that you sp...       1
153179          look at my photos from my last holidays .       1
153180  i believe that people with passion can change ...       1

[306361 rows x 2 columns]

In [28]:
result=result[result.index<40000]

In [29]:
result

                                                    text  Target
0      there i began to study family therapy , discip...       0
1      it seems  me , that in this song there are rom...       0
2      so , i want to say that i admire your right di...       0
3                        i  graduated  chung university        0
4      i like listening  music and travelling on the ...       0
...                                                  ...     ...
39995  the newspaper company  has seen a decrease in ...       1
39996  after statements the money was returned to thi...       1
39997  then our minimum requirements are a ba marketi...       1
39998  i think if you want to have a good time you ha...       1
39999  it was quite difficult to argue with them rega...       1

[80000 rows x 2 columns]

In [30]:
result.iloc[4]

text      i like listening  music and travelling on the ...
Target                                                    0
Name: 4, dtype: object

In [31]:
result.iloc[10004]

text      it is the biggest city of amazon
Target                                    0
Name: 10004, dtype: object

In [32]:
result.reset_index(inplace=True)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(result.text)
#vectorizer.get_feature_names_out()

In [33]:
#algorithms
#
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X.toarray(), result['Target'], test_size=0.2, random_state=0)

#from sklearn.naive_bayes import GaussianNB
#gnb = GaussianNB()
#y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [34]:
#from sklearn.metrics import accuracy_score
#accuracy_score(y_pred,y_test)

In [35]:
#df = pd.read_csv('/content/drive/MyDrive/Grammar-Error-Detection/validation.txt', error_bad_lines=False , delimiter= ".\t")

In [36]:
 #df

In [256]:
#
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X_tfidf = vectorizer.fit_transform(result.text)

In [257]:
#vwectorizer.get_feature_names_out()[300:500]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_tfidf.toarray(), result['Target'], test_size=0.3, random_state=42, stratify=result['Target'])

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [209]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.35033333333333333

In [162]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB(alpha=0.01)
y_pred=clf.fit(X_train, y_train).predict(X_test)

In [163]:
#pd.Series(X_train[0]).unique()

In [164]:
pd.Series(y_pred).value_counts()

1    3120
0    2880
dtype: int64

In [165]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.26866666666666666

Word2vec

In [44]:
import gensim.downloader as api
embeddings_ap= api.load("glove-wiki-gigaword-100")

[==================================================] 100.0% 128.1/128.1MB downloaded

In [45]:
import nltk
nltk.download("punkt")
#vocab=nltk.sent_tokenize(result.text)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [33]:
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences



tokenizer=Tokenizer()
tokenizer.fit_on_texts(result.text)
sequences=tokenizer.texts_to_sequences(result.text)

In [34]:
#sequences
word_index=tokenizer.word_index

In [35]:
len(word_index)

18275

In [36]:
data=pad_sequences(sequences,maxlen=200)

In [37]:
data.shape

(80000, 200)

In [38]:
#result['Target'].value_counts()

In [39]:
#result.text
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, result['Target'], test_size=0.2, random_state=0, stratify=result['Target'])

In [40]:
print(pd.Series(y_test).value_counts())

0    8000
1    8000
Name: Target, dtype: int64

In [41]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [42]:
pd.Series(y_pred).value_counts()

0    15507
1      493
dtype: int64

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.4978125

In [44]:
#data
#vocab=tokenizer.sequences_to_texts(data)

In [45]:
#len(vocab[0])

In [46]:
vocab={}
index=0
for i in result.text:
  i=i.split()
  for x in i:
    if x not in vocab:
      vocab[x]=index
      index+=1

In [47]:
len(vocab)

19674

In [48]:
import numpy as np
embedding_matrix=np.zeros((len(vocab),100))

In [49]:
for word,i in vocab.items():
  try:
    embedding_vector=embeddings_ap[word]
    if embedding_vector is not None:
      embedding_matrix[i]=embedding_vector
  except:
    pass

In [50]:
len(embedding_matrix)

19674

In [53]:
#from nltk.tag import sequential
from keras.models import Sequential
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
#from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense, Embedding, LSTM, Bidirectional,SpatialDropout1D
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt
from keras.layers import Flatten, Dense    
from keras.layers import Embedding


model=Sequential()
model.add(Embedding(len(vocab),100,input_length =data.shape[1],trainable=True))
model.add(Bidirectional(LSTM(200, dropout=0.2, recurrent_dropout=0.2)))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(1,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam', metrics = ['accuracy'])
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 200, 100)          1967400

 bidirectional_1 (Bidirectio  (None, 400)              481600
 nal)

 dense_3 (Dense)             (None, 64)                25664

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,476,777
Trainable params: 2,476,777
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
model.fit(X_train, y_train, batch_size=256,epochs = 1,  verbose = 'auto')

145/250 [================>.............] - ETA: 13:34 - loss: 0.0000e+00 - accuracy: 0.5003